#contenedor {
    text-align: left;
    width: 100%;
    margin: auto;
  }

#principal{
    width: 75%;
    float: left;
}

#principal h1 {
    font-size: 300%;
    text-transform: uppercase;
}

#principal h1 span{
    color:#ffffff
}
  
#imagen{
    width: 20%;
    float: right;
    animation: float 3s linear infinite;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

@keyframes float{
    0%, 100% {
        transform: translateY(2.5rem);
    }

    50% {
        transform: translateY(4rem);
    }
}